[submodule ".liquidprompt"]
	path = .liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
[submodule ".vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = .vim/bundle/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
