.DS_Store
*~

# Ignore all non-dotted top-level files/directories
/*
!/.*

.Xauthority
.bash_history
.cache
.dbus
.dotfiles
.emacs.d/#*#
.ghc
.gstreamer-*
.ipython
.jupyter
.lesshst
.local
.nix-defexpr
.nix-profile
.parallel/tmp
.password-store
.pki
.python_history
.sage
.ssh
.steam
.steampath
.steampid
.texlive2018
.thunderbird
.utop-history
.viminfo
.wget-hsts
.xdvirc
.zcompdump
.zsh_history
.DS_Store
.CFUserTextEncoding
.Trash
.cups
.bash_sessions
