.DS_Store
*~

# Ignore all non-dotted top-level files/directories
/*
!/.*

.bash_history
.cache
.dbus
# Ignore myself!
.dotfiles
# Emacs temp files
.emacs.d/#*#
.ipython
.jupyter
.lesshst
.local
.nix-defexpr
.nix-profile
.parallel/tmp
.password-store
.pki
.python_history
.sage
.ssh
.steam
.steampath
.steampid
.texlive2018
.thunderbird
.viminfo
.wget-hsts
.zcompdump
.zsh_history
.xdvirc
.Xauthority
