Emacs.bitmapIcon:         off
Emacs.menuBar:            off
Emacs.verticalScrollBars: off
Emacs.toolBar:            off
Emacs.cursorBlink:        off
Emacs.cursorColor:        red
Emacs.fontBackend:        xft
Emacs.font:               iosevka-10
Xft.antialias: 1;
